body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
header{
    background-color: white;
    margin-bottom: 35px;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
}
.menu, .menu3, .menu4, .menu5{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu2{
    display: flex;
    align-items: center;
    gap: 48px;
}
.menu a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}
.menu a.activate{
    color: #5C53E9;
}
.menu-buttons{
    display: flex;
    align-items: center;
    gap: 40px;
}
.black-button{
    background-color: #000000;
    color: #FFFFFF;
    width: 121px;
    height: 41px;
    border-radius: 8px;
    border:none;
    line-height: 100%;
    font-weight: 600;
    font-size: 14px;
}
.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    gap: 10px;
    width: 352px;
    height: 41px;
}
.search-box input{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400px;
    line-height: 100%;
}
.search-box img{
    margin-left: 12px;
}
.icon-menu{
    display: flex;
    width: 497px;
    height: 40px;
    gap: 32px;
}
.menu2 a{
    text-decoration: none;
    line-height: 20px;
    font-weight: 500px;
    font-size: 15px;
    color: #242424;
}
.menu2 a.activate-home{
    color: #5856D6;
}
.menu3 a{
    text-decoration: none;
    line-height: 100%;
    font-weight: 400px;
    font-size: 16px;
    color: #000000;
}
.menu4 a, .menu5 a{
    text-decoration: none;
    line-height: 100%;
    font-weight: 400px;
    font-size: 16px;
    color: #FFFFFF;
}
.colorfulheader{
    background-color: #111928;
    width: 1440px;
    border-radius: 10px;
}
.violet-button{
    background-color: #5C53E9;
    color: #FFFFFF;
    width: 66px;
    height: 40px;
    border-radius: 8px;
    border:none;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
}
.buttons-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.mylogo-search{
    display: flex;
    align-items: center;
    gap: 50px;
}
.search-boxmylogo{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #D6D8DE;
    border-radius: 10px;
    width: 500px;
    height: 44px;
    background-color: #111928;
    justify-content: space-between;
}
.search-boxmylogo input{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400px;
    line-height: 100%;
    color: #D6D8DE;
    background-color: transparent;
    margin-left: 20px;

}
.search-boxmylogo img{
    margin-right: 10px;
}