p{
    width: 50px;
    height: 50px;
}
.zagolovok2{
    font-size: 2em;
}
.zagolovok1{
    font-size: 18px;
}
.box2{
    width: 60%;
    height: 60%;
    background-color: brown;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.text2{
    font-size: 3rem;
    color: rgb(247, 205, 143);
}
.text1{
    font-size: 20px;
    color: rgb(243, 204, 146);
}
.cont1{
    background-color: #832525;
}
.cont2{
    background-color: rgb(52, 152, 219);
}
.cont3{
    background-color: rgba(52, 152, 219, 0.7);
}