.container1{
    display: block;
    width: 150px;
    height: 100px;
    background-color: aquamarine;
}
.container2{
    display: flex;
    width: 150px;
    height: 100px;
    background-color: aquamarine;
}
.container3{
    display: inline;
    width: 150px;
    height: 100px;
    background-color: aquamarine;
}
.container4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: row;
    align-content: space-around;
    width: 100%;
}
.item1{
    flex: 1 1 200px;
}
.item2{
    flex: 2 2 100px;
}
item3{
    flex: 3 3 250px;
}
.cont6{
    width: 250px;
    height: 200px;
    border: 2px solid black;
}
.cont61{
    flex: 0 0 50%;
    border: 2px solid black;
}
.cont62{
    flex: 0 0 50%;
    flex-grow: 1;
    border: 2px solid black
}
.cont63{
    flex: 0 0 100px;
    border: 2px solid black
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}