body{
    margin-top: 50px;
}
.card{
    background-color: #000000;
    display: flex;
    align-items: center;
    border-radius: 32px;
    gap: 53px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1300px;
    height: 545px;
}
.gear{
    background-color: #191919;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: fit-content;
    border-radius: 6px;
    padding: 0 16px;
    margin-bottom: 48.44px;
}
.episode{
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 18px;
}
.title{
    color: #FFFFFF;
    font-size:  64px;
    font-weight: 400;
    line-height: 70.4px;
    margin-bottom: 28px;
    width: 701px;
    height: 141px;
}
.subtitle{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
    width: 757px;
    height: 99px;
}
.bluebtn{
    color: #FFFFFF;
    background-color: #118DA8;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
    padding: 12px 15px 12px 20px;
    border: none;
}
.card2{
    background-color: #E1EDE6;
    width: fit-content;
    padding: 20px 20px 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.author{
    color: #86928B;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.title2{
    color: #2C2D35;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}
.materials{
    color: #2C2D35;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
}
.price{
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}
.greenbtn{
    border: 1px solid #598D66;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
    padding: 20px 81.5px;
    color: #598D66;
    background-color: #E1EDE6;
}
.card3{
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.for-padding{
    padding: 50px 89px 50px 44px;
    border: 1px solid #F2F6FA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.title3{
    color: #2E363E;
    font-size: 24px;
    font-weight: 700;
    line-height: 143%;
    margin-bottom: 12px;
}
.discription{
    color: #2E363E;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
}
.price2{
    color: #434B53 ;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 14px;
}
.order{
    background-color: #FED84C;
    color: #2E363E ;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    margin-bottom: 14px;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    border: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card4{
    background-color: #0C0B15;
    width: 330px;
    height: 400px;
    border-radius: 10px;
}
.pics{
    display: flex;
    justify-content: space-between;
    margin-left: 27.72px;
    margin-top: 21.7px;
    margin-right: 23px;
}
.title4{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 24.37px;
    margin-top: 18.3px;
    margin-left: 27.72px;
    font-family: Arial, Helvetica, sans-serif;
}
.designer{
    color: #809FB8;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 26.63px;
    margin-left: 27.72px;
    font-family: Arial, Helvetica, sans-serif;
}
.description2{
    color: #809FB8;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    width: 270px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 27.72px;
}
