*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background-color: #000D1A;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block1{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    box-shadow: 0px 0px 25px 5px #FFFFFF20;
    margin-bottom: 16px;
}
.bigTitle{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
    color: #E1E3E4;
}
.subtitle{
     font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: #C4C6CF;
}
.block2{
    background-color: #001F3F;
    border: 1px solid #FFFFFF14;
    border-radius: 12px;
    width: 420px;
    height: 450px;
    margin-bottom: 32px;
   
}
.email{
    margin-top: 40px;
    margin-left: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
    color: #C4C6CF;
}
.miniemailletter{
    margin-left: 12px;
    
}
.inputemail{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cac8c856;
    width: 80%;
    margin-left: 10px;
    color: white;
    
}
.emailinput{
    display: flex;
     width: 354px;
    height: 49px;
    background-color: #003366;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 24px;
}
.passwords{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 183px;
    margin-left: 32px;
}
.password{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
    color: #C4C6CF;
}
.forgotp{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
    color: #AFC8F0;
    margin-right: 33px;
}
.passwordinput{
    display: flex;
     width: 354px;
    height: 49px;
    background-color: #003366;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 24px;
}

.inputpassword{
     outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cac8c856;
    width: 75%;
    margin-left: 10px;
    color: white;
}
.minilocker{
    margin-left: 12px;

}
.minieye{
    margin-left: 19px;
}
.login{
    width: 354px;
    height: 52px;
    margin-left: 32px;
    margin-bottom: 24px;
    border-radius: 8px;
    align-content: center;
    border: 1px solid #FFFFFF14;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    background-color: #AFC8F0;
    color: #163152;
    align-items: center;
    justify-content: center;
}
.newminiarrow{
   margin-left: -150px;
   margin-top: px;
}

.orcontinue{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #C4C6CF;
    margin-left: 33px;
    margin-right: 33px;
     margin-bottom: 32px;
    align-items: center;
     display: flex;
     gap: 20px;
     
}
.twobuttons{
    display: flex;
    flex-direction: row;
    margin-left: 33px;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 33px;
    margin-right: 33px;
}
.apple{
    background-color: #001529;
    color: #E1E3E4;
    align-content: center;
    width: 169px;
    height: 46px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
}
.google{
    background-color: #001529;
    color: #E1E3E4;
    align-content: center;
    width: 169px;
    height: 46px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
}
.question{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #C4C6CF;
}
.signup{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #AFC8F0;
}
hr{
    height: 1px;
    flex-grow: 1;
}