*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background-color: #001529;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
    background-color: #000D1A;
    display: flex;
    width:  100%;
    height: 73px;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
    margin-bottom: 48px;
}
.titleLogo{
    margin-left: 40px;
    align-items: center;
    display: flex;
}

.htitle{
    margin-left: 12px;
   font-size: 24px;
    font-weight: 700;
    display: block;
    color: #E1E3E4;
}

.menu{
    margin-right: 40px;
    display: flex;
    gap: 32px;
    

}
.nav{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    gap: 32px;
    
}
.main, .news, .educ{
    color: #C4C6CF;
}

.bigTitleSubtitle{
    width: 1450px;
    height: 282px;
    border: 1px solid #FFFFFF14;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #001F3F;
    margin-left: 40px;
    margin-bottom: 64px;
}

.bigTitle{
    margin-top: 48px;
    margin-left: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 16px;
    color: #E1E3E4;

}

.bigSubtitle{
    margin-left: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6F88AD;
}

.statii{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    margin-bottom: 32px;
}

.всестатьи{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.experts{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #E1E3E4;
}
.vseStatii{
     font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #AFC8F0;
}

.articles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 64px;
    gap: 24px;
}

.firstart, .secondart, .thirdart{
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF14;
    border-radius: 12px;
    width: 380px;
    height: 348px;
}

.firstartPicture, .secondartPicture, .thirdartPicture{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.firstartTime, .secondartTime{
    margin-top: -38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    background-color: #001F3F;
    height: 24px;
    border-radius: 50px;
    margin-bottom: 34px;
}

.firstartTime{
    width: 124.33px;
}
.secondartTime{
    width: 128px;
}

.clock{
    margin-left: 12px;
}

.minutesFirst, .minutesSecond{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #6F88AD;
}

.firstartTitle, .secondartTitle, .thirdartTitle{
    margin-left: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #E1E3E4;
    margin-bottom: 16px;
}
.thirdartTitle{
    margin-top: 24px;
}

.firstDiv, .secondDiv, .thirdDiv{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    align-items: center;
}

.authorName1, .authorName2, .authorName3{
    margin-left: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #E1E3E4;
}

.yourProgress{
     margin-left: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #E1E3E4;
    margin-bottom: 24px;
}

.progressCard{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #FFFFFF14;
    border-radius: 12px;
    width: 1450px;
    height: 242px;
    margin-bottom: 112px;
    background-color: #001F3F;
}

.forRow{
    margin-top: 88px;
    margin-left: 24px;
}

.generalprogress{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #AFC8F0;
    margin-bottom: 8px;
}

.genproSubtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #C4C6CF;
}

.percentage{
    margin-top: 24px;
    margin-right: 35px;
    border: 12px solid #AFC8F0;
    border-radius: 9999px;
    font-size: 48px;
    font-weight: 700;
    line-height: 160px;
    color: #C4C6CF;
    width: 160px;
    height: 160px;
    text-align: center;
    
}

footer{
    background-color: #000D1A;
    display: flex;
    width:  100%;
    height: 73px;
    justify-content: space-between;
    align-items: center;
    
}

.fblock1{
    margin-left: 40px;
}

.footerTitle{
    font-size: 24px;
    font-weight: 600;
    display: block;
    color: #E1E3E4;
    margin-bottom: 8px;
    margin-top: 8px;
}

.miniInfo{
    color: #E1E3E4;
     font-size: 8px;
    font-weight: 100;
}

.fblock2{
    margin-right: 40px;
    display: flex;
    gap: 24px;
}

.navF a{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    
    color: #C4C6CF;
}

.navF{
    display: flex;
    gap: 24px;
}