.container{
    padding: 24px;
    border: 1px solid black;
}
.greeting{
    font-size: 24px;
    border: 1px solid black;
}
.acquaintance{
    font-size: 24px;
    border: 1px solid black;
}

#header{
    color:rgb(11, 83, 59);
}

ul{
    background-color: rebeccapurple;
}

span{
    background-color: brown;
    color: rgb(64, 48, 156);
    text-align: start;
}
#priority{
    background-color: rgb(25, 228, 69);
    color: aqua;
    text-align: end;
}
.prior{
    color: rgb(218, 221, 52);
    text-align: center;
    background-color: rgb(124, 224, 241);
}